[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pat/Desktop/Documents]
row=4
col=0

[/home/pat/Desktop/Videos]
row=2
col=1

[/home/pat/Desktop/scripts]
row=0
col=1

[/home/pat/Desktop/Music]
row=7
col=0

[/home/pat/Desktop/share]
row=1
col=1

[/home/pat/Desktop/git]
row=6
col=0

[/home/pat/Desktop/Pictures]
row=8
col=0

[/home/pat/Desktop/Downloads]
row=5
col=0

[/home/pat/Desktop/.config]
row=3
col=0

[Wastebasket]
row=2
col=0

[/]
row=0
col=0

[/home/pat]
row=1
col=0

